<nav class="breadcrumb-wrapper" aria-label="Breadcrumb">
  <div class="breadcrumb">
    <div class="breadcrumb-title">{{ breadcrumbs?.[breadcrumbs.length-1]?.label | translate }}</div>
    <ol class="breadcrumb-trail" *ngIf="breadcrumbs?.length > 1">
      <li *ngFor="let breadcrumb of breadcrumbs; let last = last" class="breadcrumb-label" [class.is-last]="last">
        <a *ngIf="!last && breadcrumb.url" class="breadcrumb-link" [routerLink]="breadcrumb.url">{{ breadcrumb.label | translate }}</a>
        <span *ngIf="!last && !breadcrumb.url" class="breadcrumb-link">{{ breadcrumb.label | translate }}</span>
        <span *ngIf="last">{{ breadcrumb.label | translate }}</span>
      </li>
    </ol>
  </div>
</nav>


<ng-template #templateBreadcrumb let-popover="popover">
  <h2>{{ 'labels.popovers.Breadcrumbs' | translate }}</h2>
  <p class="mw300">{{"labels.text.User's current location" |translate}}</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">{{ 'labels.buttons.Close' | translate }}</button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStep()">{{ 'labels.buttons.Back' | translate }}</button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStep()">{{ 'labels.buttons.Next' | translate }}</button>
  </div>
</ng-template>
