@use '@angular/material' as mat;

@mixin savings-account-view-component-theme($theme) {
  $primary: map-get($theme, primary);
  mifosx-savings-account-view {
    .savings-account-card {
      .header {
        background-color:#f7f8fa;
        color: #0e0f0c;
        border:1px solid #DFE5EC;
      }
      .table-headers {
        background-color:#f7f8fa;
        color: #0e0f0c;
      }
    }
  }
}
