.savings-account-card {
  margin: 0 auto;
  max-width: 80rem;
  width: 90%;
  padding: 0;
  .header {
    padding: 1%;
    .header-title-group {
      .account-card-title {
        color: #454745;
        width: 90%;
        p {
          color: #454745;
        }
      }
    }
    .profile-image-container {
      margin: 1%;
      .profile-image {
        object-fit: cover;
        border-radius: 20px;
      }
    }
    .account-actions {
      align-self: flex-end;
      margin: 0 1%;
      i {
        margin-bottom: 2px;
        margin-right: 4px;
      }
    }
  }
  .navigation-tabs {
    background-color: #f9fafb;
    overflow: auto;
  }
  .content {
    .savings-account-tables {
      border-radius: 8px;
      .table-headers {
        margin: 0;
        padding: 10px 16px;
      }
      .td {
        text-align: left;
      }
    }
  }
  i,
  img:hover {
    cursor: pointer;
  }
}
