<div
  [ngClass]="{
    'sidebar-full': !sidenavCollapsed,
    'sidebar-compact': sidenavCollapsed
  }"
>
  <div class="flex justify-between overflow-y-auto navigation-panel flex-column" fxLayout="column">
    <!-- TODO: Allow customization by organization -->
    <div>
      <div
        class="app-brand pt-[30px]"
        [routerLink]="['/home']"
        [ngClass]="{
          'pl-4': !sidenavCollapsed,
          'pl-0': sidenavCollapsed
        }"
      >
        <img
          [ngClass]="{
            '!hidden': !sidenavCollapsed,
            show: sidenavCollapsed
          }"
          src="assets/images/icon.png"
          alt="app-logo"
          class="w-20 h-auto px-3"
        />
        <img
          [ngClass]="{
            show: !sidenavCollapsed,
            '!hidden': sidenavCollapsed
          }"
          src="assets/images/bancro.png"
          alt="app-logo"
          class="w-auto h-7"
        />
      </div>

      <div class="px-5 app-sidenav">
        <mat-nav-list>
          <mat-list-item [routerLink]="['/home']" [routerLinkActive]="'is-active'" matTooltipPosition="right" matTooltip="Home"  class="!px-0">
            <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
              <app-home-svg [routerLinkActive]="'svg-active'"></app-home-svg>

              <a
                matListItemLine
                [ngClass]="{
                  show: !sidenavCollapsed,
                  '!hidden': sidenavCollapsed
                }"
                class="f14"
                #home
                >{{ "labels.breadcrumbs.Home" | translate }}</a
              >
            </div>
          </mat-list-item>
          <mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="'is-active'" matTooltipPosition="right" matTooltip="Dashboard">
            <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
              <app-dashboard-svg [routerLinkActive]="'svg-active'"></app-dashboard-svg>

              <a
                matLine
                class="f14"
                [ngClass]="{
                  show: !sidenavCollapsed,
                  '!hidden': sidenavCollapsed
                }"
                [routerLinkActive]="'!text-[#163300]'"
                #dashboard
                >{{ "labels.menus.Dashboard" | translate }}</a
              >
            </div>
          </mat-list-item>
          <mat-list-item [routerLink]="['/groups']" [routerLinkActive]="'is-active'" matTooltipPosition="right" matTooltip="Groups">
            <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
              <app-groups-svg [routerLinkActive]="'svg-active'"></app-groups-svg>

              <a
                matLine
                [ngClass]="{
                  show: !sidenavCollapsed,
                  '!hidden': sidenavCollapsed
                }"
                class="f14"
                #groups
                >{{ "labels.menus.Groups" | translate }}</a
              >
            </div>
          </mat-list-item>
          <mat-list-item [routerLink]="['/centers']" [routerLinkActive]="'is-active'" matTooltipPosition="right" matTooltip="Centers">
            <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
              <app-center-svg [routerLinkActive]="'svg-active'"></app-center-svg>

              <a
                matLine
                [ngClass]="{
                  show: !sidenavCollapsed,
                  '!hidden': sidenavCollapsed
                }"
                class="f14"
                #centers
                >{{ "labels.menus.Centers" | translate }}</a
              >
            </div>
          </mat-list-item>

          <mat-list-item [routerLink]="['/clients']" [routerLinkActive]="'is-active'" matTooltipPosition="right" matTooltip="Clients">
            <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
              <app-client-svg [routerLinkActive]="'svg-active'"></app-client-svg>

              <a
                matLine
                [ngClass]="{
                  show: !sidenavCollapsed,
                  '!hidden': sidenavCollapsed
                }"
                class="f14"
                #clients
                >{{ "labels.menus.Clients" | translate }}</a
              >
            </div>
          </mat-list-item>
          <!-- <mat-list-item [routerLink]="['/data-import']" [routerLinkActive]="'is-active'" matTooltipPosition="right" matTooltip="Data Import ">
            <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
              <app-data-import-svg [routerLinkActive]="'svg-active'"></app-data-import-svg>

              <a
                matLine
                [ngClass]="{
                  show: !sidenavCollapsed,
                  '!hidden': sidenavCollapsed
                }"
                class="f14"
                #DataImport
                >{{ "labels.menus.Imports" | translate }}</a
              >
            </div>
          </mat-list-item> -->
          <mat-list-item [routerLink]="['/accounting']" [routerLinkActive]="'is-active'" matTooltipPosition="right" matTooltip="Accounting">
            <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
              <app-accounting-svg [routerLinkActive]="'svg-active'"></app-accounting-svg>

              <a
                matLine
                [ngClass]="{
                  show: !sidenavCollapsed,
                  '!hidden': sidenavCollapsed
                }"
                class="f14"
                #accounting
                >{{ "labels.menus.Accounting" | translate }}</a
              >
            </div>
          </mat-list-item>

          <div class="p-h-8">
             <mat-accordion class="accordion_class">
              <mat-expansion-panel
                (opened)="reportsOpenState = true"
                (closed)="reportsOpenState = false"
                [ngClass]="{
                  transparent: !reportsOpenState
                }"
                hideToggle
              >
                <mat-expansion-panel-header class="p-h-15">
                  <mat-panel-title class="!mr-0">
                    <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
                      <app-report-svg (click)="sidenavCollapsed = false"></app-report-svg>

                      <span
                        [ngClass]="{
                          '!hidden': sidenavCollapsed,
                          'text-[#0E0F0C]': reportsOpenState
                        }"
                        class="f14"
                      >
                        {{ "labels.menus.Reports" | translate }}</span
                      >
                    </div>
                  </mat-panel-title>
                  <span
                    [ngClass]="{
                      show: !sidenavCollapsed,
                      '!hidden': sidenavCollapsed
                    }"
                  >
                    <app-plus-svg
                      [ngClass]="{
                        '!hidden': reportsOpenState
                      }"
                    ></app-plus-svg>
                    <app-minus-svg [ngClass]="{ '!hidden': !reportsOpenState }"></app-minus-svg>
                  </span>
                </mat-expansion-panel-header>
                <div class="overflow-'!hidden'">
                  <div
                    [routerLink]="['/reports']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.All" | translate }}</span>
                  </div>

                  <div
                    [routerLink]="['/reports', 'Client']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Clients" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/reports', 'Loan']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Loans" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/reports', 'Savings']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Savings" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/reports', 'Fund']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Funds" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/reports', 'Accounting']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Accounting" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/xbrl']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.XBRL" | translate }}</span>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <mat-list-item [routerLink]="['/settings']" [routerLinkActive]="'is-active'" matTooltipPosition="right" matTooltip="Settings">
            <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
              <app-settings-svg [routerLinkActive]="'svg-active'"></app-settings-svg>

              <a
                matLine
                [ngClass]="{
                  show: !sidenavCollapsed,
                  '!hidden': sidenavCollapsed
                }"
                class="f14"
                #settings
                >{{ "labels.menus.Settings" | translate }}</a
              >
            </div>
          </mat-list-item>

          <div class="p-h-8">
             <mat-accordion class="accordion_class">
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
                [ngClass]="{
                  transparent: !panelOpenState
                }"
                hideToggle
              >
                <mat-expansion-panel-header class="p-h-15">
                  <mat-panel-title>
                    <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
                      <app-admin-svg (click)="sidenavCollapsed = false"></app-admin-svg>

                      <span
                        [ngClass]="{
                          '!hidden': sidenavCollapsed,
                          'text-[#0E0F0C]': panelOpenState
                        }"
                        class="f14"
                      >
                        {{ "labels.menus.Admin" | translate }}</span
                      >
                    </div>
                  </mat-panel-title>
                  <span
                    [ngClass]="{
                      show: !sidenavCollapsed,
                      '!hidden': sidenavCollapsed
                    }"
                  >
                    <app-plus-svg
                      [ngClass]="{
                        '!hidden': panelOpenState
                      }"
                    ></app-plus-svg>
                    <app-minus-svg [ngClass]="{ '!hidden': !panelOpenState }"></app-minus-svg>
                  </span>
                </mat-expansion-panel-header>
                <div class="overflow-'!hidden'">
                  <div
                    [routerLink]="['/appusers']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Users" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/organization']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Organization" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/system']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.System" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/products']"
                    [routerLinkActive]="'is-sub-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Products" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/templates']"
                    [routerLinkActive]="'is-active'"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Templates" | translate }}</span>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="p-h-8" hideToggle>
             <mat-accordion class="accordion_class">
              <mat-expansion-panel
                (opened)="selfOpenState = true"
                (closed)="selfOpenState = false"
                [ngClass]="{
                  transparent: !selfOpenState
                }"
                hideToggle
              >
                <mat-expansion-panel-header class="p-h-15">
                  <mat-panel-title>
                    <div class="flex items-center gap-x-[10px] text-[#454745] px-[10px] font-medium">
                      <app-self-service-svg (click)="sidenavCollapsed = false"></app-self-service-svg>

                      <span
                        [ngClass]="{
                          '!hidden': sidenavCollapsed,
                          'text-[#0E0F0C]': selfOpenState
                        }"
                        class="f14"
                      >
                        {{ "labels.menus.Self Service" | translate }}</span
                      >
                    </div>
                  </mat-panel-title>
                  <span
                    [ngClass]="{
                      show: !sidenavCollapsed,
                      '!hidden': sidenavCollapsed
                    }"
                  >
                    <app-plus-svg
                      [ngClass]="{
                        '!hidden': selfOpenState
                      }"
                    ></app-plus-svg>
                    <app-minus-svg [ngClass]="{ '!hidden': !selfOpenState }"></app-minus-svg>
                  </span>
                </mat-expansion-panel-header>

                <div class="overflow-'!hidden'">
                  <div
                    [routerLink]="['/self-service/users']"
                    [routerLinkActive]="'is-sub-active'"
                    matTooltipPosition="right" matTooltip="User Management"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.User Management" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/self-service/app-configuration']"
                    [routerLinkActive]="'is-sub-active'"
                    matTooltipPosition="right" matTooltip="App Configuration"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.App Configuration" | translate }}</span>
                  </div>
                  <div
                    [routerLink]="['/self-service/task-management']"
                    [routerLinkActive]="'is-sub-active'"
                    matTooltipPosition="right" matTooltip="Task Management"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Task Management" | translate }}</span>
                  </div>
                     <div
                    [routerLink]="['/self-service/data-import']"
                    [routerLinkActive]="'is-sub-active'"
                    matTooltipPosition="right" matTooltip="Data Import"
                    class="f14 text-[#454745] font-medium relative h-[43px] flex items-end"
                  >
                    <div
                      class="h-[50px] w-[20px] border-l border-b rounded-bl-lg mb-[10px] absolute left-0 bottom-0"
                    ></div>
                    <span class="pl-6 cursor-pointer"> {{ "labels.menus.Data Import" | translate }}</span>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-nav-list>
      </div>
    </div>

    <div class="bg-[#EDEFEB] w-[90%] px-[10px] py-[14px] rounded-lg mx-auto mb-8 flex justify-start items-center">
      <!-- <i
        [ngClass]="{
          '!hidden': !sidenavCollapsed,
          show: sidenavCollapsed
        }"
        class="text-4xl fa fa-user-circle f28 text-grey-3 app-avatar"
        aria-'!hidden'="true"
      ></i> -->
      <img
        [ngClass]="{
          '!hidden': !sidenavCollapsed,
          show: sidenavCollapsed
        }"
        src="assets/images/av.svg"
        class="rounded-full h-[30px] w-[30px]"
        alt="Admin"
        width="30"
        height="30"
      />
      <div
        class="items-center gap-x-4"
        [ngClass]="{
          flex: !sidenavCollapsed,
          '!hidden': sidenavCollapsed
        }"
      >
        <!-- <i class="fa fa-user-circle text-[30px] text-gray-400 app-avatar" aria-'!hidden'="true"></i> -->
        <img src="assets/images/avax.svg" class="rounded-full h-[40px] w-[40px]" alt="Admin" width="30" height="30" />
        <div class="text">
          <p class="text-xs text-[#0E0F0C] capitalize font-semibold">{{ username }}</p>
          <p class="text-[10px] text-[#6A6C6A]">{{ officeName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
