<form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="login()" id="login-form">
  <div class="login-text" fxLayout="column" fxLayoutGap="15px">
    <h1 class="title">Welcome Back</h1>
    <span class="description"
      >We're eliminating the friction and bias of traditional financing, connecting business builders to capital at the
      click of a button.</span
    >
  </div>

  <div fxLayout="column" fxLayoutGap="2px">
    <mat-label>{{ "labels.inputs.Username" | translate }}</mat-label>

     <mat-form-field appearance="outline"  appearance="outline" fxFlexAlign="center" class="login-input inputBorder">
      <input matInput class="field !outline-0" type="text" autocomplete="off" formControlName="username" />
      <mat-error *ngIf="loginForm.controls.username.hasError('required')">
        {{ "labels.inputs.Username" | translate }} <strong>{{ "labels.commons.is required" | translate }}</strong>
      </mat-error>
    </mat-form-field>
  </div>


  <div fxLayout="column" fxLayoutGap="2px">
    <mat-label>{{ "labels.inputs.Password" | translate }}</mat-label>
     <mat-form-field appearance="outline"  appearance="outline" fxFlexAlign="center" class="login-input">
      <input class="field !outline-0" matInput type="{{ passwordInputType }}" formControlName="password" />
      <button
        mat-button
        *ngIf="loginForm.controls.password.value && !loading"
        matSuffix
        mat-icon-button
        (mousedown)="passwordInputType = 'text'"
        (mouseup)="passwordInputType = 'password'"
      >
        <fa-icon *ngIf="passwordInputType === 'password'" icon="eye"></fa-icon>
        <fa-icon *ngIf="passwordInputType === 'text'" icon="eye-slash"></fa-icon>
      </button>
      <mat-error *ngIf="loginForm.controls.password.hasError('required')">
        {{ "labels.inputs.Password" | translate }} <strong>{{ "labels.commons.is required" | translate }}</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutGap="2px">
    <mat-label>{{ "labels.inputs.Token" | translate }}</mat-label>

     <mat-form-field appearance="outline"  appearance="outline" fxFlexAlign="center" class="login-input inputBorder">
      <input matInput class="field !outline-0" type="text" autocomplete="off" formControlName="token" />
      <mat-error *ngIf="loginForm.controls.token.hasError('required')">
        {{ "labels.inputs.Token" | translate }} <strong>{{ "labels.commons.is required" | translate }}</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <!-- <mat-checkbox fxFlexAlign="center" formControlName="remember" class="m-t-10">{{
    "labels.inputs.Remember me" | translate
  }}</mat-checkbox> -->

  <button mat-flat-button color="primary" fxFlexAlign="center" class="login-button" [disabled]="!loginForm.valid">
    {{ "labels.buttons.Login" | translate }}
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>

  <button
    type="button"
    mat-button
    fxFlexAlign="center"
    class="login-button"
    (click)="forgotPassword()"
    [disabled]="loading"
  >
    {{ "labels.links.Forgot Password?" | translate }}
  </button>
</form>
