@use '@angular/material' as mat;

@mixin clients-view-component-theme($theme) {
  $primary: map-get($theme, primary);

  mifosx-clients-view {
    .client-card {
      .header {
        background-color:#f7f8fa;
        color: #333;
        border:1px solid #DFE5EC;
      }
    }
  }
}
