@import "colours";

html,
body {
  -webkit-tap-highlight-color: transparent;
}

div {
  box-sizing: border-box;
}

.color-inherit {
  color: inherit;
}

.no-shadow {
  box-shadow: none;
}

.pointer {
  cursor: pointer;
}

.nolist {
  list-style: none;
}

.actions-menu {
  color: $white;
}

.alert {
  background-color: #e8f4fd;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.01071em;
  margin: 10px;

  .message {
    padding: 8px 0;
    font-size: 18px;
  }
  .alert-check {
    color: #359ff4;
    margin-right: 2px;
    font-size: 1.4rem;
  }
}

::ng-deep .mat-tooltip {
  font-size: 13px;
  white-space: pre-wrap;
  color: #163300 !important;
  background-color: rgba(#9fe870, 0.7);
  border: 1px solid darken(#9fe870, 20%);
  max-width: 400px !important;
  white-space: pre-line !important;
}
.app-sidenav .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}
.mat-header-cell {
  color: #0e0f0c;
  font-size: 12px;
  font-weight: 500;
}
.mat-table,
.mat-checkbox {
  font-family: "Inter", sans-serif;
  color: #0e0f0c;
}

.mat-menu-panel {
  min-width: 180px;
  max-width: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  outline: 0;
  min-height: 64px;
  position: relative;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  box-shadow:
    0px 1px 5px 0px rgba(0, 0, 0, 0.15),
    -1px 0px 20px 0px rgba(23, 24, 24, 0.05);
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.shadow-none{
  box-shadow: none;
  border: 1px solid #E5E7EC;
}

.shadow-none {
  box-shadow: none;
  border: 1px solid #e5e7ec;
}
.rounded-lg{
  border-radius: 8px;
}
.p-1{
  padding:4px;
}
.p-2{
  padding:8px;
}
.p-3{
  padding:12px;
}
.p-4{
  padding:16px;
}
.p-5{
  padding:20px;
}
.accordion_class {
  display: grid;
  row-gap: 12px;
}
.accordion_class__tab {
  box-shadow: none !important;
  border: 1px solid #e5e7ec;
  border-radius: 8px !important;
}

.mat-expansion-panel-header-title{
  font-weight: 500;
}

.container {
  .action-button{
    margin-left: auto;
  }
  .search-button{
    min-width: 30px;
    margin: 4px;
  }
  .search-box{
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
  }
  .search-container{
    display: flex;
    align-items: center;
    position: relative;
    span{
      position: absolute;
      left: 10px;
    }
  }
  .search {
    background: #F5F7F9;
    border: 1px solid #dfe5ec;
    border-radius: 5px;
    padding: 4px 16px 4px 30px;
    max-width: 400px;
    min-width: 180px;
    min-height: 32px;
    width: 100%;
  }
}

table {
  border: none;
  tr.select-row:hover {
    cursor: pointer;
  }
  tr:nth-child(odd).td{
    color:#0E0F0C;
  }
}
th.mat-header-cell {
  background-color: #F9FAFB;
  border-bottom-width: 1px;
  border-color: #EAECF0;
  color:#0E0F0C;
  font-size: 12px;
  font-weight:500;
}
.mat-header-cell {
  color:#0E0F0C;
  font-size: 12px;
  font-weight:500;
}
tr.mat-header-row {
  height: 50px;
}
.cdk-overlay-pane{
  min-width: 230px;
}

.mat-menu-item .mat-icon {
  margin-right: 8px;
}
.tab-container{
  max-width: 1280px;
  margin: 0 auto !important;
}